#Problem 1
Swap the first and last elements of fruits.

In [9]:
fruits = ["apples", "oranges", "grapes", "berries", "kiwi"]
fruits.pop(0)
fruits.pop(len(fruits)-1)

print(fruits)

['oranges', 'grapes', 'berries']

#Problem 2
This is a list of the grades of 10 students in a class.
##a)
Use a list method to print the number of students, who received a grade of 90.
##b)
Then find the index of the first occurence of 90.

In [11]:
students_grades = [85, 90, 100, 70, 50, 80, 90, 95, 90, 75]
print(students_grades.count(90))
print(students_grades.index(90))

3
1

#Problem 3
Use list slicing to print the word "apple".

In [14]:
word = ['p', 's', 'a', 'q', 'p', 'p', 'x', 'l', 'e']
new_word=word[word.index('a')]+word[word.index('p')]+word[word.index('p')]+word[word.index('l')]+word[word.index('e')]
print(new_word)

apple

#Problem 4
Make a copy of names into another list names2.
How is this different from typing 
`names2 = names`?

In [21]:
names = ["Ahmed", "Mohamed", "Ali", "Omar", "Khaled"]
name2=names[:]
print(name2)

['Ahmed', 'Mohamed', 'Ali', 'Omar', 'Khaled']

#Problem 5
Insert the number 7000 between the number 5000 and 6000.

In [34]:
l = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l[2][2].insert(1,7000)
print(l)

[10, 20, [300, 400, [5000, 7000, 6000], 500], 30, 40]

#Problem 6
Print the list in reverse using index slicing.

In [43]:
l2 = [10, 9, 8, 7, 6, 5]
l2=l2[::-1]
print(l2)

[5, 6, 7, 8, 9, 10]

#Problem 7
Create a list l4, in which each element is 10 times the corresponding element in list l3.

In [2]:
l3 = [1, 2, 3, 2, 2, 4, 1, 8, 9, 7]
l4=[]
for i in l3:
    c=l3.count(i)
    z=c*10
    l4.append(z)
print(l4)

[20, 30, 10, 30, 30, 10, 20, 10, 10, 10]

#Problem 8
Remove elements 'g', 'h', 'i', 'j' from letters.

In [60]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
letters.remove('g')
letters.remove('h')
letters.remove('i')
letters.remove('j')
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'k', 'l', 'm', 'n']