# Problem 1
Print every other letter in string s in uppercase,  such that output is "DNSU".

In [2]:
s = "dinosaur"
s=s.upper()
print(s)
s=s[0]+s[2]+s[4]+s[6]
print(s)

DINOSAUR
DNSU

# Problem 2
Reverse the following word, by using 2 different ways.

In [5]:
word = "copybook"
word=word[::-1]
print(word)

koobypoc

# Problem 3
Input your name and age, and assign them to variables.
Then, print the following statement using 3 String Formatting techniques.

My name is (your name) and I am (your age).

In [13]:
My_Name="Mohamed"
My_Age=18
print("My name is %s and my age is %d."%(My_Name,My_Age))
print("My name is {0} and my age is {1}.".format (My_Name,My_Age))
print(f"My name is {My_Name} and my age is {My_Age}.")

My name is Mohamed and my age is 18.
My name is Mohamed and my age is 18.
My name is Mohamed and my age is 18.

# Problem 4
Print each of the fruits on its own, using a string method.

In [24]:
txt = "apple#banana#cherry#orange"
txt=txt.split("#")
print(txt)
print(txt[0])
print(txt[1])
print(txt[2])
print(txt[3])

['apple', 'banana', 'cherry', 'orange']
apple
banana
cherry
orange

# Problem 4
Print each of the fruits on its own.

In [26]:
txt = "apple#banana#cherry#orange"
txt=txt.split("#")
print(txt[0])
print(txt[1])
print(txt[2])
print(txt[3])

apple
banana
cherry
orange

# Problem 5
Print even numbers from 0 to 20, using while loop.

In [28]:
i=0
while i in range(20):
    i=i+2
    print(i)

2
4
6
8
10
12
14
16
18
20

# Problem 6
Print the prime numbers less than 100, using for loop.

# Problem 7
Print the square of each number in the list, using list comprehension.

In [29]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[]
for i in l:
    z=i**2
    l2.append(z)
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Problem 8
Check that the values 20 and 35 exist in my_dict.

In [33]:
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
my_dict=my_dict.values()
for i in my_dict:
    int(i)
    if i==20:
        print("20 is exist")
        break
    elif i==35:
        print("35 is exist")
        break
    else:
        print("35 is not exist")

35 is not exist
20 is exist

# Problem 9
Print the common subjects that both Ahmed and Mohamed take.

In [30]:
Ahmed_subjects = {"Math", "Physics", "English", "French", "CS" }
Mohamed_subjects = {"Enivronmental Science", "CS", "German", "French", "Photography" , "Math"}
print(Ahmed_subjects.intersection(Mohamed_subjects))

{'French', 'Math', 'CS'}

# Problem 10
A school has following rules for grading system:
1. Below 25 - F
2. 25 to 45 - E
3. 45 to 50 - D
4. 50 to 60 - C
5. 60 to 80 - B
6. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [8]:
My_Mark=float(input("Please input your Mark: "))
if My_Mark >= 80:
    print("A")
elif My_Mark >=60:
    print("B")
elif My_Mark>=50:
    print("c")
elif My_Mark>=45:
    print("D")
elif My_Mark>=25:
    print("E")
else:
    print("F")

Please input your Mark43
E

# Problem 11
Remove all elements in the set.
Then add the color "red" to the following color_set.
Then add the colors "green" and "blue" in a single line of code.

In [36]:
color_set = set(["orange", "yellow", "green"])
color_set.clear()
color_set.update({"red","green"})
print(color_set)

{'green', 'red'}

# Problem 12
Change the first element in  my_tuple to [10, 11, 12]

In [55]:
my_tuple = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
my_tuple=([10,11,12],)+my_tuple[1::]
print(my_tuple)

([10, 11, 12], [4, 5, 6], [7, 8, 9])

# Problem 13
Fix the following error.

In [34]:
dict2 = {"80":[1, 2],"90":[3, 4]}
dict2

{'80': [1, 2], '90': [3, 4]}